test/Abc.ServiceModel.HL7.UnitTests/_Data/Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Elem" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="attr" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>